<div class='citiesToVisit'>
<h2 class='citiesTitle' >Cities to visit</h2>
<ul>
    <% cities.forEach(city => {%>
<<<<<<< HEAD
        <%if (city.city!=='') {%>
    <li class= 'cities'>
=======
    <li class= 'cities'><%if (city.city!=='') {%>
>>>>>>> almost finalized css
        <a class='cityName'><%= city.city %></a>  <a class='worksNumber'><%= city.totalartworks%> Artworks</a></li>
    <% }}) %>
</ul>
</div>