<h2>Cities to visit</h2>
<ul>
    <% cities.forEach(city => {%>
    <%if (city.city!=='') {%>
    <li class='cities'>
        <%= city.city %> - <%= city.totalartworks%> Artworks</li>
    <% }}) %>
</ul>