<div class = "artworkDiv">
    <p class="museum"><%= artwork.museum%></p>
    <p class="artworkDescription"><%= artwork.cities%></p>
</div>

<!-- show a list of museums from cities in favorites and number of artworks in that city -->
<!-- Where are getting the number of artworks from ? -->