<h2>Search by your favorite artist</h2>
<form action="/searches" method="post">
    <a href="/">Home</a>
    <input class="searchQuery" type="text" name="search" placeholder="Enter Artist Name" required>
    <button class="searchButton" type="submit">Search</button>
</form>