<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head') %>   
</head>
<body>
    <%- include('../layout/header') %>
    <% artworks.forEach(artwork => { %>
        <%- include('../pages/partials/savedArtwork', {artwork: artwork}) %>
    <% }) %>
</body>
<footer>
    <%- include('../layout/footer') %>
</footer>
</html>